body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  position: relative;
  overflow-y: hidden;
}

header {
  background-color: var(--red);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
}

main {
  height: calc(100dvh - 50px - 70px);
  margin-top: 50px;
  margin-bottom: 70px;
  overflow-y: auto;
}

footer {
  background-color: var(--orange);
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
}