body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--red);
  height: 50px;
}

main {
  margin-top: 60px;
  margin-bottom: 80px;
}

footer {
  background-color: var(--orange);
  height: 70px;
}